# 导入机器学习以及数据处理库

In [1]:
from autogluon.tabular import TabularDataset , TabularPredictor
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# 处理数据

In [10]:
data_path = r"E:\桌面\毕业设计\MachineLearningOER\数据\四元数据.xlsx"
data = pd.read_excel(data_path)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5527 entries, 0 to 5526
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ni           5413 non-null   float64
 1   Fe           5413 non-null   float64
 2   Co           5413 non-null   float64
 3   Ce           5413 non-null   float64
 4   3mA cm‐2     5330 non-null   float64
 5   10 mA cm‐2   5413 non-null   float64
dtypes: float64(6)
memory usage: 259.2 KB

In [11]:
data.head()

      Ni     Fe     Co   Ce  3mA cm‐2   10 mA cm‐2
0  1.000  0.000  0.000  0.0      426.0        441.0
1  0.969  0.031  0.000  0.0      414.0        426.0
2  0.969  0.000  0.031  0.0      412.0        423.0
3  0.929  0.071  0.000  0.0      411.0        420.0
4  0.929  0.031  0.031  0.0      412.0        422.0

In [12]:
data.dropna(inplace=True)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5330 entries, 0 to 5516
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ni           5330 non-null   float64
 1   Fe           5330 non-null   float64
 2   Co           5330 non-null   float64
 3   Ce           5330 non-null   float64
 4   3mA cm‐2     5330 non-null   float64
 5   10 mA cm‐2   5330 non-null   float64
dtypes: float64(6)
memory usage: 291.5 KB

In [15]:
data.to_excel(r"E:\桌面\毕业设计\MachineLearningOER\数据\四元数据_修正.xlsx")